export(vcovSpHAC)
S3method(vcovSpHAC, felm)
S3method(vcovSpHAC, fixest)
S3method(vcovSpHAC, default)
useDynLib('fastconley', .registration = TRUE)
importFrom('Rcpp', 'sourceCpp')
importFrom(stats, formula, model.frame)
import(data.table)
